<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
        <p>Bonzo</p>
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @post.image.url(:medium) %>
      <p class="caption"><%= @post.caption %></p>
      <div class="text-center edit-links">
        <%= link_to "キャンセル", posts_path%>
      </div>
      <div class="text-center edit-links">
        <%= link_to "編集する" , edit_post_path(@post)%>
      </div>
    </div>
  </div>
</div>
